:root{
    /* text & object */
    --text-col: #a3a3a3;
    --text-active-col: #fff;
    --object-col-white: #fff;
    /* active element */
    --object-col-active: #d2d2d2;
    --element-active: #c0ff31;
    /* palette */
    --main-col: #141922;
    --footer-col: #282828;
    --black-col: #000000;
}

/* GENERAL */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    font-family: 'Montserrat', sans-serif;
    color: #a3a3a3;
}

/* UTILITIES */