:root {
    /* text & object */
    --text-col: #a3a3a3;
    --text-active-col: #fff;
    --object-col-white: #fff;
    --object-col-gray: #a3a3a3;
    /* active element */
    --object-col-active: #d2d2d2;
    --element-active: #c0ff31;
    /* palette */
    --main-col: #141922;
    --footer-col: #282828;
    --black-col: #000000;
    --trasparent-element: rgba(0,0,0,.5);
}

/* GENERAL */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    color: var(--text-col);
    background-color: var(--main-col);
    font-weight: 600;
}

img{
    max-width: 100%;
}

/* UTILITIES */
/* debug */
.debug{
    background-color: rgba(255, 190, 190, 0.5);
    border: 1px solid black;
}

/* LAYOUT */
.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.flex-direction-col{
    flex-direction: column;
}

.jus-flex-end{
    justify-content: flex-end;
}

/* PADDING */
.padding-top-80{
    padding-top: 80px;
}

/* UI */
.button{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--object-col-white);
    border: 1px solid var(--object-col-white);
    height: 40px;
    padding: 0 30px;
    border-radius: 20px;
    line-height: 40px;
}

.ul-style-remove{
    list-style: none;
}

.a-style-remove{
    text-decoration: none;
    color: var(--text-col);
}

/* ROUNDED IMAGE */
.rounded-img{
    height: 25px;
    width: 25px;
    object-fit: scale-down;
    background-color: var(--object-col-gray);
    border-radius: 25px;
}

/* VARIATION */
header img:first-child{
    filter: invert(100%);
    width: 30px;
    height: auto;
    display: none;
}

.resize-icon{
    transform: scale(0.6);
}

.resize-icon-04{
    transform: scale(0.4);
}

.filter-img-icon{
    filter: brightness(70%);
}