:root {
    /* text & object */
    --text-col: #777777;
    --text-active-col: #fff;
    --object-col-white: #fff;
    --text-white-col: #fff;
    --object-col-gray: #a3a3a3;
    --bar-color-empty: #5a5a5a;
    /* active element */
    --object-col-active: #d2d2d2;
    --element-active: #c0ff31;
    /* palette */
    --main-col: #141922;
    --footer-col: #282828;
    --black-col: #000000;
    --trasparent-element: rgba(0,0,0,.5);
}

/* GENERAL */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    color: var(--text-col);
    background-color: var(--main-col);
    font-weight: 600;
}

.container{
    width: 95%;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

/* UTILITIES */
/* debug */
.debug{
    background-color: rgba(255, 190, 190, 0.5);
    border: 1px solid black;
}

/* LAYOUT */
.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.flex-direction-col{
    flex-direction: column;
}

.jus-flex-end{
    justify-content: flex-end;
}

.jus-flex-center{
    justify-content: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

/* PADDING */
.padding-top-80{
    padding-top: 80px;
}

/* UI */
.button{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--object-col-white);
    border: 1px solid var(--object-col-white);
    height: 40px;
    padding: 0 30px;
    border-radius: 20px;
    line-height: 40px;
}

.ul-style-remove{
    list-style: none;
}

.a-style-remove{
    text-decoration: none;
    color: var(--text-col);
}

.empty-bar{
    height: 4px;
    width: 100px;
    background-color: var(--bar-color-empty);
    border-radius: 2px;
}

.fill-bar{
    height: 4px;
    width: 30%;
    background-color: var(--object-col-active);
    border-radius: 2px;
}

.album-img{
    width: calc(100%);
    height: auto;
    cursor: pointer;
}

.card{
    width: calc(100% / 6);
    max-width: 200px;
    min-width: 134px;
    padding: 5px;
}

/* UI VARIATION */
.adaptive-bar{
    width: 80%;
}

.rounded-img-big{
    border-radius: 50%;
    object-fit: cover;
}

/* ROUNDED IMAGE */
.rounded-img{
    height: 25px;
    width: 25px;
    object-fit: scale-down;
    background-color: var(--object-col-gray);
    border-radius: 25px;
}

/* EFFECT */
a:hover{
    filter: brightness(300%);
}

.hover-effect:hover{
    filter: brightness(300%);
    cursor: pointer;
}

.button-effect:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.cursor-pointer:hover{
    cursor: pointer;
}

.active-left::before{
    content: '';
    border-left: 3px solid var(--element-active);
    display: inline-block;
    position: absolute;
    left: 0;
    top: 10px;
    height: 30px;
}

.position-relative{
    position: relative;
}

.active-bottom::before{
    content: '';
    border-bottom: 3px solid var(--element-active);
    display: inline-block;
    position: absolute;
    bottom: -5px;
    left: calc(100% / 2 - 35% / 2);
    width: 35%;
}

/* EFFETTO CARD IN STYLE.CSS */

/* VARIATION */
header img:first-child{
    filter: invert(100%);
    width: 30px;
    height: auto;
    display: none;
}

.resize-icon{
    transform: scale(0.6);
}

.resize-icon-04{
    transform: scale(0.4);
}

.filter-img-icon{
    filter: brightness(70%);
}