/* HEADER */
header{
    background-color: var(--trasparent-element);
    height: 80px;
    padding: 0 20px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
}

img{
    height: 50px;
}
/* MAIN */
main{
    width: 100%;
    height: calc(100vh - 100px);
}
/* aside */
aside{
    width: 200px;
    background-color: var(--black-col);
    height: calc(100vh - 100px);
    padding: 0 20px;
    margin-bottom: 100px;
    position: relative;
}

aside nav.top{
    margin: 0 -12px;
}

aside nav.bottom ul{
    height: calc(50vh - 100px);
    overflow: auto;
}

aside nav.bottom ul li{
    margin: 15px 0;
}

aside .aside-bottom{
    position: absolute;
    left: 0;
    bottom: 0;
}

/* home */

.home{
    width: calc(100% - 200px);
    height: calc(100vh - 100px);
    overflow: auto;
}

/* FOOTER */
footer{
    background-color: var(--footer-col);
    height: 100px;
}
/* SOLUZIONI RESPONSIVE */
/* first step medium  */

/* second step small */

/* third step smaller */
@media screen and (max-width: 600px) {
    /* header */
    header{
        padding: 0 20px 0 10px;
    }
    header img:first-child{
        display: inline-block;
    }

    header img:nth-child(2){
        display: none;
    }

    /* aside */
    aside{
        width: 50px;
    }
    .home{
        width: calc(100% - 50px);
    }
}