/* HEADER */
header{
    background-color: var(--trasparent-element);
    height: 80px;
    padding: 0 20px;
    position: fixed;
    left: 0;
    right: 0;
}

img{
    height: 50px;
}
/* MAIN */
main{
    width: 100%;
    height: calc(100vh - 100px);
}
/* aside */
aside{
    width: 200px;
    background-color: var(--black-col);
    height: calc(100vh - 100px);
}
/* home */

.home{
    width: calc(100% - 200px);
    height: calc(100vh - 100px);
    overflow: auto;
}

/* FOOTER */
footer{
    background-color: var(--footer-col);
    height: 100px;
}
/* SOLUZIONI RESPONSIVE */
/* first step medium  */

/* second step small */

/* third step smaller */